NEXT_PUBLIC_API_URL=https://your-railway-api-domain.up.railway.app
NEXT_PUBLIC_MONGODB_APP_ID=<app-id>
NEXT_PUBLIC_MONGODB_DATA_API_KEY=<your-api-key>
NEXT_PUBLIC_MONGODB_DATA_SOURCE=<ClusterName>
NEXT_PUBLIC_MONGODB_DATABASE=<DatabaseName>
NEXT_PUBLIC_MONGODB_COLLECTION=<CollectionName>
